:root {
    --secondary-color: #16425b;
    --tertiary-color: #2e5266;
    --primary-color: #26525b;
    --accent2-color: #467642;
    --accent1-color: #dcff66;

    --heading-font: 'Charmonman', cursive;
    --paragraph-font: 'Artifika', sans-serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: white;
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--secondary-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav,
footer {
    background-color: var(--primary-color);
    color: white;
    min-width: 325px;
}

.title {
    display: none;
}

.logo {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 325px;
}

.logo img {
    border-radius: 3px;
    max-width: 100%;
    border: 20px solid var(--primary-color);
    /* object-fit: fill; */
}

#menu {
    font-size: 1.75rem;
    border: 0;
    background: 0;
    position: absolute;
    right: 60px;
    top: 50px;
}

#menu:hover {
    box-shadow: 0 0 10px black;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "🅇";
    top: 60px;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--primary-color);
    color: var(--primary-color);
}

nav {
    justify-content: center;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}


.navigation a:hover {
    color: white;
    background-color: var(--secondary-color);
    text-decoration: underline;
    border-radius: 0;
    font-weight: bold;
}


/* button is clicked then open class is toggled */
.open li {
    display: block;
}

.active::before {
    content: "Home";
    text-decoration: underline;
    color: var(--accent1-color);
}

h1,
h2 {
    font-family: var(--heading-font);
}

h2 {
    text-decoration: underline;
}

header {
    padding: 10px;
}

p {
    padding: 0.5rem;
}

nav {
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}

footer {
    justify-items: center;
    padding: 1rem;
}


/* main and body design*/
body {
    font-family: var(--paragraph-font);
    max-width: 600px;
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    margin: 10px;
}

.welcome {
    background-color: var(--tertiary-color);
    padding: 1rem;
    color: white;
    border-radius: 3px;

}

.wImage {
    justify-self: center;
}

.welcome img {
    max-width: 100%;
}

aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 2rem;
    border: 10px solid var(--primary-color);
    padding: 20px;
}

aside p {
    text-align: center;
    align-content: center;
}

