@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans&display=swap');

@media screen and (min-width: 700px) {

    body {
        font-family: 'Handlee', cursive;
        background-color: white;
    }

    header,
    main footer {
        max-width: 1500px;
        border: 1px solid lightgray;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: 1 / 2;
        margin: 0;
        background-color: rgb(121, 222, 222);
        box-shadow: 0 0 10px gray;
        padding: 0 2rem 2rem 0;
    }

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        margin: 0 2rem;
    }

    h2 {
        margin: 1rem 0;
        font-family: "Open Sans", cursive;
        font-size: 1.2em;
        color: black;
        text-align: center;
        text-decoration: underline;
    }

    #menu {
        display: none;
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
        background-color: rgb(121, 222, 222);
        color: rgb(121, 222, 222);
    }

    .navigation li {
        /*hides nav in mobile size*/
        display: block;
    }

    .navigation a {
        flex: 1 1 100%;
        color: black;
        padding: 0.75rem;
        text-decoration: none;
        text-align: center;
        transition: 0.5s;
        font-size: 1.5rem;
        /*added, need 2 and 1.5?*/
    }

    .navigation a:hover {
        color: rgb(63, 62, 64);
        background-color: rgb(240, 240, 240);
        text-decoration: underline;
        border-radius: 3px;
        font-weight: 700;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .temples {
        margin: 1rem 0;
        max-width: 1500px;
        display: flex;
        flex-wrap: wrap;
    }

    div {
        max-width: 400px;
        margin: 1rem;
    }

    img {
        max-width: 100%;
        border: 4px double black;
    }

    figure {
        margin: 1rem 0;
    }

    figcaption {
        text-align: center;
    }

    img:hover {
        box-shadow: 0 0 10px gray;
    }

    footer {
        font-family: "Open Sans", sans-serif;
        background: rgb(121, 222, 222);
        text-align: center;
        padding: 0.5rem;
    }

    p {
        color: black;
    }
}