* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Handlee', cursive;
    background-color: rgb(240, 240, 240);
}

header,
footer {
    max-width: 500px;
    border: 1px solid lightgray;
}

header {
    display: flex;
    background-color: rgb(121, 222, 222);
}

h1 {
    font-family: 'Open sans', sans-serif;
    margin: 0 0 0 1rem;
    text-align: left;
}

h2 {
    font-family: "Open sans", cursive;
    color: black;
    text-align: center;
}

/* 
nav {
    max-width: 500px;
    margin: 1rem auto;
} */

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "Ⓧ";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* space-around?*/
    list-style: none;
    background-color: rgb(121, 222, 222);
    color: rgb(121, 222, 222);
}

.navigation a {
    display: none;
    color: black;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    color: rgb(63, 62, 64);
    background-color: rgb(240, 240, 240);
    /* text-decoration: underline; */
    border-radius: 3px;
    font-weight: 700;
}

/* button is clicked then open class is toggled */
.open a {
    display: block;
}

.active::before {
    content: "Home";
    text-decoration: underline;
    color: rgb(255, 96, 23);
}

.temples {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    grid-gap: 25px;
    place-items: center;
    margin: 1rem;
    border: 1px solid lightgray;
    max-width: 485px;
    height: auto;
    background-color: rgb(240, 240, 240);
}

img {
    max-width: 200px;
    /* transform:scale(); */
    /* max-height: auto; 'auto' not valid CSS*/
    border: 3px double black;
}

img:hover {
    box-shadow: 0 0 50px darkgray;
}

footer {
    font-family: "Open sans", sans-serif;
    background: rgb(121, 222, 222);
    text-align: center;

    /*margin: .5rem 0 .5rem 0; */
}

p {
    color: black;
}