@media screen and (min-width: 500px) { /*should use em relative to font rather than px, maybe 40? */

    body {
        max-width: 960px;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        justify-content: center;
    }

    header {
        max-width: 960px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0; 
        grid-column: 1 / 3;/*need*/
        
    }

    h1 {
        margin: 0 1rem;
        font-size: 2rem;
    } 

   
    h2 {
        font-size: 1.75rem;
        text-align: center;
    }

    #menu {/*hides hamburger button*/
        display: none;
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }

    .navigation li {/*shows nav menu for large screen*/
        display: block;
    }

    .navigation a {
        flex: 1 1 100%;
        font-size: larger;
    }

    main,
    .temples {
        margin: 1rem auto;
        padding: 1rem;
    }

    .temples {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 25px;
        place-items: center;
        align-items: baseline;
    }

    img {
        width: 100%;
        height: auto;
        margin: .5rem;
        border: 3px double black;

    }

    figcaption {
        font-size: medium;
    }

    footer {
        max-width: 960px;
        grid-column: 1 / 3;
    }

    footer p {
        margin: 1rem auto;
    }
}